
<%-include ('partials/_header')%>

<div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-2 ">
                    <div class="card mb-4 bg-light">
                        <div class="card-header text-center h5 text-white bg-secondary">Add new task</div>
                        <div class="card-body">
                            <form action="/addTask" method="POST">
                                <div class="form-group">
                                    <input type="text" name="title" placeholder="Title" class="form-control mb-2" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="description" id="description" placeholder="Description" cols="30" class="form-control mb-2" required></textarea>
                                </div>   
                                <div class="form-group">
                                    <!-- <label>Assing user</label>  -->
                                </div>          
                                <button type="submit" class="btn btn-primary btn-sm mb-2">Add</button>                                           
                            </form>
                        </div>
                    </div>
             
                    <div class="card mb-4 bg-light">
                        <div class="card-header text-center h5 text-white bg-secondary">Add new user</div>
                        <div class="card-body">
                      
                            <form action="/addUser" method="POST">
                                <div class="form-group">                            
                                    <input type="text" name="userName" placeholder="User name" class="form-control mb-2" required>
                                </div>               
                                <button type="submit" class="btn btn-primary btn-sm mb-2">Add</button>                                           
                            </form>
                        </div>
                    </div>
            </div>
            <!-- LIST -->
                <div class="col-md-9 ">
                    <table class="table table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>No.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Asigned to</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < tasks.length; i++){ %>
                                <tr>
                                    <td><%-i + 1 %></td>
                                    <td><%-tasks[i].title %></td>
                                    <td><%-tasks[i].description %></td>
                                    <td><%-tasks[i].assigned %></td>
                                    <td><%-tasks[i].status %></td>
                                    <td>  
                                        <a class="fas fa-trash-alt btn btn-outline-danger" href="/deleteTask/<%=tasks[i].id%>"></a>                                        
                                        <a class="fas fa-edit btn btn-outline-warning" href="/editTask/<%=tasks[i].id%>"></a>                                        
                                    </td>
                                </tr>                                                      
                            <% } %>
                        </tbody>
                    </table>
                </div>
        </div>
</div>

<%-include ('partials/_footer')%>

