
<%-include ('partials/_header')%>
<div class="container">
    <div  class="row"><h1 >Tasks List</h1></div>
        <div class="row">
            <!-- FORM -->
            <div class="col-md-2">
                <!-- <div class="card mb-4 bg-light">
                <div class="card-body">
                    <h5 class="card-title">New task</h5>
                    <form action="/addTask" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="Title" class="form-control mb-2">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="description" placeholder="Description" cols="30" class="form-control mb-2"></textarea>
                        </div>   
                        <div class="form-group">
                            <label for="">Assing user</label>
                            <select class="form-select mb-2">       
                                <option selected>Unassigned</option>           
                                <% for(var i = 0; i < users.length; i++){ %>
                                <option name="idUser" value="<%users[i].userName%>"><%-users[i].userName %></option>
                                <% } %>

                            </select> 
                        </div>              
                        <button type="submit" class="btn btn-primary btn-sm mb-2">Add</button>                                           
                    </form>
                </div>
                </div> -->
                <div class="card mb-4 bg-light">
                    <div class="card-body">
                        <h5 class="card-title">Find task</h5>
                        <form action="/addUser" method="POST">
                            <div class="form-group">                            
                                <input type="text" name="userName" placeholder="Type task title" class="form-control mb-2">
                            </div>               
                            <button type="submit" class="btn btn-primary btn-sm mb-2">Find</button>                                           
                        </form>
                    </div>
                    </div>
            </div>
            <!-- LIST -->
            <div class="col-md-9 ">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>No.</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Asigned to</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < tasks.length; i++){ %>
                            <tr>
                                <td><%-i + 1 %></td>
                                <td><%-tasks[i].title %></td>
                                <td><%-tasks[i].description %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
</div>

<%-include ('partials/_footer')%>

