
<%-include ('partials/_header')%>
<pre><%-users%></pre>

<div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-2">
                <div class="card mb-4 bg-light">
                    <div class="card-header text-center h5 text-white bg-secondary">Find user</div>
                    <div class="card-body">
                        <form action="/users" method="POST">
                            <div class="form-group">                            
                                <input type="text" name="userName" placeholder="Type task title" class="form-control mb-2">
                            </div>               
                            <button type="submit" class="btn btn-primary btn-sm mb-2">Find</button>                                           
                        </form>
                    </div>
                    </div>
            </div>
            <!-- LIST -->
            <div class="col-md-9 ">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>No.</th>
                            <th>User name</th>
                            <th>tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < users.length; i++){ %>
                            <tr>
                                <td><%-i + 1 %></td>
                                <td><%-users[i].userName %></td>
                                <td><!--<%-users[i].description %>--></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
</div>

<%-include ('partials/_footer')%>

